@model IEnumerable<ComMgt.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Storage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Processor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Battery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Camera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accessibility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Display)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Graphic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th></th>
    </tr>



</table>
